<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="prop_preferred_position">2147483646</entry>
<entry key="snapshot_version">1.0</entry>
<entry key="prop_hostname">{{ item.serverhostname }}</entry>
<entry key="prop_jstatd_port.0">{{ item.serverjstatdport }}</entry>
<entry key="prop_jstatd_refresh.0">3.0</entry>
<entry key="prop_name">{{ item.servername }}</entry>
<entry key="prop_relative_position">{{ item.serverposition }}</entry>
</properties>
